body {
  padding: 10px;
  font-family: Arial, Verdana, sans-serif;
}
h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  font-size: 8em;
  color: #c55;
  background-color: #fff;
  font-weight: bolder;
}
form.when, form.where {
  padding-top: 0.5em;
  text-align: center;
  width: 100%;
}
form.when input, form.where input {
  font-size: 3em;
}
input.earlier, input.later {
  width: 2em;
  font-weight: bolder;
}
form.when input.ok {
  margin: 1em;
}
#earlier, #later {
  width: 1.5em;
}
form.search {
  width: 100%;
  text-align: right;
}
ul {
  padding: 0;
  margin: 0;
}
li.where, p.lunch_at {
  background: lightgrey;
  padding: 10px;
}
li.where {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}
form.where input {
  font-size: 2em;
}
p.lunch_at {
  text-align: center;
  font-size: 2em;
}
p em {
  font-style: normal;
  font-weight: bold;
}
a.unimportant {
  font-size: 0.5em;
}
h2.invite {
  font-size: 2em;
  color: #c55;
  margin-top: 2em;
  margin-bottom: 0;
}
form.invite input {
  font-size: 1em;
}
